.glass-card {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px;
  color: white;
  transition: 0.3s;
}

.glass-card:hover {
  transform: translateY(-5px);
}

.glass-btn {
  backdrop-filter: blur(10px);
  background: rgba(0, 123, 255, 0.3);
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
  color: white;
}

.floating-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  z-index: 1000;
  transition: 0.3s;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-btn:hover {
  transform: scale(1.1);
}
