body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

/* subtle glow overlay */

.skeleton-card {
  height: 250px;
  border-radius: 20px;
  background: linear-gradient(90deg, #2a2a40, #3a3a5a, #2a2a40);
  animation: shimmer 1.5s infinite;
}



@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
